@charset "UTF-8";

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-fluid{ 
   padding: 20px;
}

.row{
    margin-bottom: 10px;
    transition: 1s ease;
}

.row-xbox{
    border: 3px solid #0000008f; 
    box-shadow: 10px 8px 6px #0000008c;  
}

.row-xbox:hover{
    border: 3px solid #039b03;
    box-shadow: 10px 8px 6px #00800081; 
    cursor: pointer;
}

.row-playstation{
    border: 3px solid #0000008f; 
    box-shadow: 10px 8px 6px rgba(0, 0, 0, 0.548);
}

.row-playstation:hover{
    border: 3px solid #0000ff;
    box-shadow: 10px 8px 6px #0000ff79; 
    cursor: pointer;
}

.row-windows{
    border: 3px solid #0000008f; 
    box-shadow: 10px 8px 6px #0000008c;
}

.row-windows:hover{
    border: 3px solid #fa0e0e;
    box-shadow: 10px 8px 6px #fa0e0e7e; 
    cursor: pointer;
}

/* Estilo dos icons */

.icon-1{
    color: #000000ab;
    text-shadow: 2px 2px 4px #00000060;
    font-size: 2rem;
    transition: 1s ease;
}

.row-xbox:hover .icon-1 {
    color: #039b03;
}

.icon-2{
    color: #000000ab;
    text-shadow: 2px 2px 4px #00000060;
    font-size: 2.5rem;
    transition: 1s ease;
}

.row-playstation:hover .icon-2{
    color: #0000ff;
}

.icon-3{
    color: #000000ab;
    text-shadow: 2px 2px 4px #00000060;
    font-size: 3rem;
    transition: 1s ease;
}

.row-windows:hover .icon-3{
    color: #fa0e0e;
}

